// COLORS
$PRIMARY_COLOR_DARK: #303f9f;
$PRIMARY_COLOR: #3f51b5;
$PRIMARY_COLOR_LIGHT: #c5cae9;
$PRIMARY_COLOR_TEXT: #ffffff;
$ACCENT_COLOR: #ff4081;
$PRIMARY_TEXT_COLOR: #212121;
$SECONDARY_TEXT_COLOR: #757575;
$DIVIDER_COLOR: #bdbdbd;
